body{ 
    background-image: url(hatterkep.jpg);
    
}
img{
    width: 450px;
    height: 400px;
    

}
h1{
    color: rgb(253, 0, 219);
    text-align: center;
    font-size: 70px;
    
}
h2{
    color: purple;
    font-size: 50px;

}
div{
    width: 1900px;
    text-align: center;
    font-size: 15px;

}
header{
    background-color: aqua;
}
section{
    background-color: white;
    width: 2000px;
}
footer{
    color: purple;
    font-size: 25px;
    background-color: white;
}
ul{
font-size: 20px;
font-family: Verdana;
}
a{
    color: red;
}